.calculus-Graph {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position:relative;
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-Header {
    color: blueviolet;
}
.youtube-Button {
    position: relative;
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0;
}
body   {
    background-color: skyblue;
    
}
.header1{
    border: 10px groove black;
    background-color: azure;
    top: 0;
    color: blueviolet;
    position: relative;
    width: 15%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}